/* linking font to make it look pretty */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* generic styling */
h1,
h2,
h3,
span {
  color: black;
  text-align: center;
  line-height: 1.25;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
i:hover {
  opacity: 0.7;
}
a {
  text-decoration: none;
  position: relative;
}
/* hover effect here */
.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: rgb(236, 233, 233);
}
.link__hover-effect--black:after {
  background-color: rgb(43, 43, 43);
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container {
  padding: 70px 0;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

.text--magenta {
  color: #5f0e30;
}

.section__title {
  margin-bottom: 24px;
}

/* nav bar style */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.navbar__link--list {
  display: flex;
}

.navbar__link--anch {
  margin: 0 12px;
  color: #242424;
  font-weight: 700;
}

.navbar__link--anch-main {
  background-color: #5f0e30;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.navbar__link--anch-main:hover {
  background-color: #cb5787;
}
.website__creator {
  font-size: 24px;
  color: white;
  margin: 0 12px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #5f0e30;
  border-spacing: 10px;
  border: #4a4949;
  border-style: dashed;
  border-width: 10px;
}
/* personal info seciton */
#personal-info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.personal-info__info {
  display: flex;
  flex-direction: column;
}

.personal-info__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.personal-info__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  overflow: hidden;
  box-shadow: 20px 20px 20px rgba(106, 16, 16, 0.16);
  margin-bottom: 28px;
  animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.personal-info__picture {
  width: 100%;

  /* fitting picture to website */
  transform: scale(1.5);
  padding-top: 8px;
}

.personal-info__info--title {
  margin-bottom: 10px;
  animation: fade-up 650ms 400ms backwards;
}
.personal-info__info--para {
  font-size: 20px;
  margin-bottom: 28px;
  animation: fade-up 650ms 600ms backwards;
}

.personal-info__link {
  font-size: 20px;
  color: #4d2020;
  padding: 0 16px;
}

.personal-info__links {
  animation: fade-up 650ms 800ms backwards;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.personal-info__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}
.personal-info__img {
  width: 100%;
  animation: fade-in 1200ms 800ms backwards;
}
/* languages section */

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}
.language:hover .language__img {
  filter: brightness(110%);
  opacity: 0.86;
  transform: scale(0.6);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}
.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}
.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}
/* project section */
.project {
  margin-bottom: 135px;
}

.project:last-child {
  margin-bottom: 40px;
}

.project__img {
  width: 100%;
  transition: all 500ms ease;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
  transform: translateY(100%);
}
.project:hover .project__wrapper:before {
  transform: translateY(0);
  opacity: 0.7;
}
.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__list {
  padding-top: 40px;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: #fff;
}